.h1 {
  @apply text-center text-4xl font-light leading-[1.2em] md:text-6xl lg:text-7xl xl:text-8xl;
}
.h1::first-letter {
}
.highlight {
  @apply relative font-bold after:absolute after:left-0 after:bottom-0 after:h-1 after:w-full after:rounded-xl after:bg-primary md:after:h-2;
}

.bgGradientInput {
  background: linear-gradient(
    90deg,
    #44ff9a,
    #44b0ff,
    #8b44ff,
    #ff6644,
    #ebff70
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
