@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Themes */
  :root {
    /* home page colors start */
    --color-purple: 147, 73, 202;
    --color-pink: 255, 94, 131;
    --background: 255, 255, 255;
    --foreground: 0, 0, 0;
    /* home page color ends */
    --base-content: 37, 36, 34;
    --primary: 235, 94, 40;
    --primary-focus: 182, 77, 36;
    --primary-accent: 232, 133, 94;
    --base-100: 252, 250, 250;
    --base-200: 224, 209, 209;
    --base-300: 204, 178, 178;
    scroll-behavior: smooth;
  }
  .theme-dark {
    /* home page colors start */
    --background: 0, 0, 0;
    --foreground: 255, 255, 255;
    /* home page color ends */
    --base-content: 252, 250, 250;
    --primary: 235, 106, 80;
    --primary-focus: 193, 121, 93;
    --primary-accent: 247, 189, 167;
    --base-100: 0, 0, 0;
    --base-200: 72, 72, 69;
    --base-300: 93, 93, 93;
  }

  ::-webkit-scrollbar {
    @apply h-[6px] w-[6px] bg-base-content;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-base-100/90;
  }

  body {
    @apply scroll-pt-16 scroll-smooth md:scroll-pt-20;
    font-family: 'Poppins', sans-serif;
  }
  .cursor-newtab {
    cursor:
      url('/images/new-tab.png') 10 10,
      pointer;
  }
  /* #region  /**=========== Typography =========== */
  .heading {
    @apply text-center text-4xl font-black leading-relaxed md:text-5xl lg:text-7xl;
  }
  .heading .fancy {
    @apply block -rotate-6 text-[1.2em] font-medium;
  }

  .h0 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-4xl leading-relaxed md:text-5xl lg:text-7xl;
  }

  h2,
  .h2 {
    @apply text-xl md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    position: relative;
    max-width: 65rem;
    @apply mx-auto w-11/12;
  }

  /* button styles */
  .btn {
    @apply rounded-lg border border-base-content/30 bg-base-100 px-4 py-2 uppercase text-base-content transition-all duration-200 md:py-3;
  }
  .btn:hover {
    @apply scale-105 shadow-lg shadow-primary/30;
  }
  .btn:active {
    @apply scale-100;
  }
  .btn:focus {
    @apply outline-2 outline-offset-4 outline-base-content/30;
  }
  .btn-primary {
    @apply bg-primary text-base-100;
  }
  .btn-primary:focus {
    @apply outline-2 outline-offset-4 outline-primary;
  }
  /* Card Styles */
  .card {
    @apply w-full rounded-xl border border-foreground p-3 shadow-2xl shadow-base-100 transition-all duration-300 hover:border-color-pink md:p-5;
  }
  /* button and link common transition effect  and hover effects*/
  button,
  a {
    @apply transition-all duration-300 ease-in;
  }
  button:hover {
    @apply scale-[1.02];
  }
  button:disabled,
  a:disabled {
    @apply cursor-not-allowed backdrop-opacity-80;
  }
  button:active {
    @apply scale-95;
  }
  a:active {
    @apply scale-90;
  }
}

body {
  @apply bg-background;
}

.ais-SearchBox {
  @apply h-full w-full;
}
.ais-SearchBox form {
  @apply h-full w-full;
}
.ais-SearchBox button {
  display: none;
}

.ais-SearchBox input {
  @apply h-full w-full rounded-xl border-2 border-primary/30 bg-transparent p-4 text-3xl outline-none placeholder:text-base-content focus:ring-2 focus:ring-primary;
}

/* background style */
.bg,
.overlay {
  @apply absolute left-0 top-0 h-full w-full;
}
.bg img {
  @apply h-full w-full;
}

/* used in elements where line-clamping is used */
.webkit-box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.svgIcons {
  border-radius: 50px;
  padding: 0;
  /* background:linear-gradient(135deg, #4285F4, #EA4335, #FBBC05); */
  background: linear-gradient(13deg, #db3236, #f4c20d, #3cba54, #4885ed);
}
